input {
    /*Apparence*/
    border: none;
    border-radius: 10px;
    -webkit-appearance: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    /*Center*/
    display: block;
    margin: auto;
    margin-bottom: 15px;

    /*Police*/
    font-family: inherit;
    font-size: 30px;
}

.addbutton {
    /*Centrer et grossir le bouton*/
    margin: auto;
    display: block;
    font-family: inherit;
    font-size: large;

    border-radius: 5px;
}

.no-task-text {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: inherit;
}

.tasks {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.task {
    background-color: white;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.task-text {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-family: inherit;
}

.task-button {
    float: right;
    margin-left: 15px;
    border-radius: 5px;
}

