/* Style pour l'input de la tâche centré */
input {
    /*Apparence*/
    border: none;
    border-radius: 10px;
    -webkit-appearance: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    /*Center*/
    display: block;
    margin: auto;
    margin-bottom: 15px;

    /*Police*/
    font-family: inherit;
    font-size: 30px;
}

/* Bouton pour ajouter les tâches centré */
.addbutton {
    /*Centrer et grossir le bouton*/
    margin: auto;
    display: block;
    font-family: inherit;
    font-size: large;
    border-radius: 5px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin-top:10px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
}

/* Style pour le texte quand il y a aucune tâche */
.no-task-text {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: inherit;
}

/* Style pour la div contenant toutes les task */
.tasks {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Style pour chaque tâche individuelle */
.task {
    background-color: white;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Style tu texte de la tâche */
.task-text {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-family: inherit;
}

/* Style des boutons tâche effectué et de suppresion */
.task-button {
    float: right;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #04AA6D;
    padding: 4px;
    border: none;
    cursor: pointer;
}